<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-controller='NarrowItDownController as narrowCtrl'>
   <div class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="narrowCtrl.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowCtrl.narrow(narrowCtrl.searchTerm);">Narrow It Down For Me!</button>
      <div>
        <ul>
          <li ng-if="!narrowCtrl.empty()" ng-repeat="menuItem in narrowCtrl.menuItems">

            {{ menuItem.name }}, {{ menuItem.short_name }}, {{ menuItem.description }}

            <button ng-if="!narrowCtrl.empty()" ng-click="narrowCtrl.removeItem($index);">Don't want this one!</button>
          </li>
        </ul>
      </div>

    <!-- found-items should be implemented as a component -->
    <!-- <found-items found-items="...." on-remove="...."></found-items> -->
    </div>
  </div>

</body>
</html>
